body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
    background-color: #f4f4f4;
    text-align: justify;
    margin: 0;
}

.animated-heading {
    color: #FF8C00;
    text-align: center;
    font-size: 3em; /* Adjust the font size as needed */
    animation: pulse 2s infinite; /* Animation effect */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

strong {
    color: #FF8C00;
}

p {
    line-height: 1.6;
}

.contact-details strong {
    font-weight: bold;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-container img {
    width: 45%; /* Adjust as needed for spacing */
}
